@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }
}

@layer components {
  .task-list-item::before {
    @apply hidden;
  }

  .task-list-item {
    @apply list-none;
  }

  .footnotes {
    @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
  }

  .csl-entry {
    @apply my-5;
  }
  .link
    {
    @apply text-primary-500 hover:text-primary-600 dark:hover:text-primary-400 transition-colors duration-100 ease-in-out;
  }

}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .card-shadow {
    @apply shadow-md transition-all duration-150 ease-in-out hover:shadow-xl focus:shadow-xl;
  }
  .acrylic {
    backdrop-filter: saturate(180%) blur(5px);
  }
  .acrylic-text {
    @apply bg-opacity-80 opacity-80 dark:bg-opacity-50 dark:opacity-50;
    backdrop-filter: saturate(180%) blur(5px);
  }
}
